# Appwrite Function Environment Variables
# Add these in your Appwrite Console under Functions > [Your Function] > Settings > Environment Variables

MOOLRE_API_USER=pnokn
MOOLRE_API_KEY=
MOOLRE_TIMEOUT_MS=8000
MOOLRE_ACCOUNT_NUMBER=752100407030
